// @import './vendors/css.scss';

@import './utils/variables.scss';
@import './utils/mixins.scss';

@import './base/font.scss';

// @import './layout/css.scss';

// @import './pages/css.scss';

// @import './component/css.scss';

// @import './themes/css.scss';

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif, 'Shrikhand', cursive, Arial;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration:none;
    color: #000;
}

.head{
    @include basic_flex_column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: $head_color;

    &__logo img{
        height: 40px;
        margin: 20px 0;
    }

    &__location{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
    
        font-size: 1.2rem;
        font-weight: bold;
    
        color: $location_element_primary_color;
        box-shadow: inset 0 2px 7px grey;
        background-color: $location_color;
        
        & >*{
            padding: 0 5px;
        }
    }
}

.head__presentation{
    @include basic_flex_column;
    align-items: center;
    text-align: center;
    width: 80%;
}

.head__presentation > *{
    margin: 30px 0 0 0;
}

.head__presentation__title{
    font-size: 2rem;
    font-weight: 900;
    width: 90%;
}

.head__presentation__paragraph{
    font-size: 1.5rem;
    font-weight: 300;
}

.btn__std{
    @include btn_basic;
    @include bg_degrade_diagonale ($secondary_color, $primary_color);
}

/*--------------------------------------------------*/

.main{
    @include basic_flex_column;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: auto;

    & h3{
        font-size: 2.2rem;
        font-weight: 800;
        margin-bottom: 0;
    }
}

.main__functioning{
    padding: 30px 20px;
}

.main__functioning__list_btn{
    @include basic_flex_column;
    height: auto;
    margin: 20px 0;
}

.main__functioning__list_btn__btn{
    position: relative;
    display: flex;
    padding: 10px 0;
    margin: 15px 0;
    align-items: center;
    background-color: $head_color;
    border-radius: 30px;
    box-shadow: 0px 9px 19px -12px rgba(0,0,0,0.3);

    &:hover{
        background-color: lighten($primary-color, 35%);
    }

    &:hover i{
        color: $primary-color;
    }
}

.main__functioning__list_btn__btn > *{
    margin-right: 30px;
}

.main__functioning__list_btn__btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 50%;
    background-color: $primary_color;
    color: #fff;
}

.main__functioning__list_btn__btn i{
    color: $location_element_secondary_color;
}

.main__functioning__list_btn__btn p{
    font-size: 1.5rem;
    font-weight: bold;
}

/*--------------------------------------------------*/

.main__restaurant{
    @include basic_flex_column;
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 30px 20px 80px 20px;

    background-color: $head_color;
}

.main__restaurant__card{
    @include basic_flex_column;
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 25px 0 0 0;

    border-radius: 20px;
    box-shadow: 0px 9px 19px -12px rgba(0,0,0,0.3);
    transition: transform .1s;

    &:hover{
        transform: scale(1.05);
    }
}

.main__restaurant__card span{
    position: absolute;
    display: flex;
    width: 100px;
    height: 35px;
    top: 40px;
    right: 15px;

    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: $new_bg_color;
    color: $new_text_color;
    border-radius: 3px;
}

.main__restaurant__card img{
    max-height: 230px;
    width: auto;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.main__restaurant__card__info{
    display: flex;
    height: 100px;
    padding: 0 20px 0 10px;
    justify-content: space-between;
    align-items: center
}

.main__restaurant__card__info__text{
    @include basic_flex_column;
    height: 100px;;
    justify-content: center;
    padding: 0;
}

.main__restaurant__card__info__text > *{
    margin: 0px;
    font-size: 1.5rem;
}

.main__restaurant__card__info__text h4{
    font-weight: bold;
}

.main__restaurant__card__info__text h5{
    font-weight: 300;
}

/*--------------------------------------------------*/

.footer{
    @include basic_flex_column;
    height: auto;
    padding: 20px 20px;
    background-color: $location_element_primary_color;

    & h3{
        font-family: 'Shrikhand', Arial;
        font-size: 1.4rem;
        font-weight: lighter;
        margin: 10px 0 0 0;
    }

    & >*{
        color: #fff;
    }
}

.footer__nav{
    @include basic_flex_column;
    justify-content: space-between;
    height: auto;
    color: #fff;

    & ul{
        padding: 0;
        & li{
            list-style-type: none;
            padding: 5px 0;

            & a{
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }
}