body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif, 'Shrikhand', cursive, Arial;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration:none;
    color: #000;
}

/*--------------------------------------------------*/

@keyframes bounce {
    to {
        opacity: 0.1;
        transform: translateY(-16px);
    }
}

@keyframes loader__animation {
    0% {
        opacity: 0.99;
    }
    50% {
        opacity: 0.75;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.loader{
    position: fixed;
    width: 100%;
    top: 0; left: 0; right: 0; bottom: 0;

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    animation: loader__animation 2000ms forwards;


    &__circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 15px;
        background-color: $primary_color;
        animation: bounce 0.6s infinite alternate;

        &:nth-child(2) {
            animation-delay: 0.2s;
            background-color: $secondary_color;
        }

        &:nth-child(3) {
            animation-delay: 0.4s;
            background-color: $tertiary_color;
        }
    }
}

/*--------------------------------------------------*/

.head{
    @include basic_flex_column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #fff;

    &__logo img{
        height: 40px;
        margin: 20px 0;
    }

    &__location{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
    
        font-size: 1.2rem;
        font-weight: bold;
    
        color: $location_element_primary_color;
        box-shadow: inset 0 2px 7px grey;
        background-color: $location_color;
        
        & >*{
            padding: 0 5px;
        }
    }

    &__presentation{
        @include basic_flex_column;
        align-items: center;
        text-align: center;
        width: 80%;

        & >*{
            margin: 30px 0 0 0;
        }

        &__title{
            font-size: 2rem;
            font-weight: 900;
            width: 90%;
        }

        &__paragraph{
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}

.btn__std{
    @include btn_basic;
    @include bg_degrade_diagonale ($secondary_color, $primary_color);
    transition: all 100ms ease-in-out;
}

/*--------------------------------------------------*/

.main{
    @include basic_flex_column;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: auto;

    & h3{
        font-size: 2.2rem;
        font-weight: 800;
        margin-bottom: 0;
    }

    &__functioning{
        padding: 30px 20px;

        &__list_btn{
            @include basic_flex_column;
            height: auto;
            margin: 20px 0;

            &__btn{
                position: relative;
                display: flex;
                padding: 10px 0;
                margin: 15px 0;
                align-items: center;
                background-color: $head_color;
                border-radius: 30px;
                box-shadow: 0px 9px 19px -12px rgba(0,0,0,0.3);
            
                &:hover{
                    background-color: lighten($primary-color, 35%);
                }
            
                &:hover i{
                    color: $primary-color;
                }

                & >*{
                    margin-right: 30px;
                }

                & span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15px;
                    height: 15px;
                    padding: 10px;
                    font-size: 1.3rem;
                    border-radius: 50%;
                    background-color: $primary_color;
                    color: #fff;
                }

                & i{
                    color: $location_element_secondary_color;
                }

                & p{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }
}

/*--------------------------------------------------*/

.main__restaurant{
    @include basic_flex_column;
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 30px 20px 80px 20px;
    background-color: $head_color;

    &__list{
        max-width: 100%;
        &__card{
            @include basic_flex_column;
            position: relative;
            max-width: 100%;
            height: auto;
            margin: 25px 0 0 0;
        
            border-radius: 20px;
            box-shadow: 0px 9px 19px -12px rgba(0,0,0,0.3);
            transition: transform .1s;
        
            &:hover{
                transform: scale(1.02);
            }
    
            & span{
                position: absolute;
                display: flex;
                width: 100px;
                height: 35px;
                top: 40px;
                right: 15px;
            
                font-weight: bold;
                justify-content: center;
                align-items: center;
                background-color: $new_bg_color;
                color: $new_text_color;
                border-radius: 3px;
            }
    
            & img{
                max-height: 230px;
                width: auto;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }

            & > div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 10px;
            }
    
            &__info{
                position: relative;
                display: flex;
                flex-direction: row;
                height: 100px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                
                &__text{
                    @include basic_flex_column;
                    width: 100%;
                    padding: 0;
    
                    & *{
                        margin: 0px;
                        font-size: 1.4rem;
                    }
    
                    & h4{
                        font-weight: bold;
                    }
    
                    & h5{
                        font-weight: 300;
                    }
                }

                &__heart{
                    position: absolute;
                    right: 40px;
                    background-clip: text;

                    & .fa-heart{
                        font-size: 2rem;
                        &:hover{
                            color: transparent;
                            background: linear-gradient(to right top, $primary-color, $secondary_color);
                            background-clip: text;
                            -webkit-background-clip: text;
                            font-weight: 600;
                            transition: all 200ms ease-in-out;
                        }
                    }
                }
                

                & > i{
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: linear-gradient(to top, $primary-color, $secondary_color);
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 250ms;
                    }
                }
            }
        }
    }

}

/*--------------------------------------------------*/

.footer{
    @include basic_flex_column;
    height: auto;
    padding: 20px 20px;
    background-color: $location_element_primary_color;

    & h3{
        font-family: 'Shrikhand', Arial;
        font-size: 1.4rem;
        font-weight: lighter;
        margin: 10px 0 0 0;
    }

    & >*{
        color: #fff;
    }

    &__nav{
        @include basic_flex_column;
        justify-content: space-between;
        height: auto;
        color: #fff;
    
        & ul{
            padding: 0;
            & li{
                list-style-type: none;
                padding: 5px 0;
    
                & a{
                    color: #fff;
                    font-size: 1.2rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (min-width: 1300px){
    .head{
        height: auto;
    }

    .main{
        &__functioning{
            &__list_btn{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__btn{
                    width: 32%;
                }
            }
        }

        &__restaurant{
            &__list{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                &__card{
                    min-width: 45%;
                }
            }
        }
    }
}

@media (min-width:990px) and (max-width: 1300px){
    .main{
        &__functioning{
            &__list_btn{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__btn{
                    width: 32%;
                }
            }
        }
    }
}