@mixin basic_flex_column {
    display: flex;
    flex-direction: column;
}

@mixin btn_basic {
    width: 320px;
    height: 70px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    border: 0;
    border-radius: 40px;
    box-shadow: 0px 9px 19px -12px rgba(0,0,0,0.85);
}

@mixin bg_degrade_diagonale ($color_left, $color_right) {
    background: linear-gradient(to bottom right, $color_left, $color_right);

    &:hover{
        box-shadow: 0px 5px 29px 0px rgba(0,0,0,0.8);
        background: linear-gradient(to bottom right, lighten($color_left, 3%), lighten($color_right, 3%));
    }
}